.main {
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
    font-size: 20px;
    text-align: center;
}

.form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inp  {
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid whitesmoke;
    min-width: 80%;
}

.btn {
    border: none;
    height: 40px;
    width: 40px;
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarefas {
    margin-top: 30px;
    
}

.tarefas li {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    transition: all 600ms;
}
.tarefas li:hover {
   background-color: aqua;
}

.edit {
    margin-right: 15px;
    color: aqua;
}

.delete {
    margin-right: 15px;
    color: brown;

}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
    color: black;
    
}
.tarefas li .edit,
.tarefas li .delete {
    cursor: pointer;
    transition: all 600ms;
}